<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ferramenta Maida Health{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo_maidaescura.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}page-inicio{% endblock %}">

    {% include 'components/_preloader.html' %}

    <div class="scrollbar-container">
        <div class="scrollbar-thumb" id="scrollThumb"></div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/_footer.html' %}

    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
