<nav class="navbar">
    <a href="{{ url_for('index') }}" class="navbar-logo">
        <img src="{{ url_for('static', filename='img/logo_maida.png') }}" alt="Maida Health Logo">
    </a>
    
    <ul class="navbar-links">
        <li>
            <a href="{{ url_for('index') }}">Início</a>
        </li>
        <li>
            <a href="https://www.planserv.ba.gov.br/planserv" target="_blank">Site Planserv</a>
        </li>
        <li>
            <a href="https://extrator-contracheques.onrender.com/" target="_blank">Área IPRF</a>
        </li>
        <li>
            <a href="{{ url_for('calculadora') }}">Área ACR</a>
        </li>
    </ul>
</nav>
